# Dependencies
node_modules/

# Builds and bundles
dist/
build/
.cache/
.tmp/

admin
# Testing
coverage/

# Documentation
CHANGELOG.md
CONTRIBUTING.md

# Environment and local config
.env
.env.*
.eslintcache
.turbo/

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

